body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	overflow-x: hidden;
	background-color: #333333;
	color: white;
}

p {
	line-height: 1.8;
}

a {
	transition: all 0.3s ease;
}

a:hover, a:focus {
	text-decoration: none;
}

.primary-color {
	color:#43f7f7;
}

.nav {
	position: absolute;
	right: -150px;
	top: 45px;
}

.nav > ul > li {
	list-style: none;
}

.nav > ul > li > a {
	display: block;
	padding: 12px 15px;
	color: #43f7f7;
}

.nav > ul > li.active > a,
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
	color: #3b8c8c;
}

.nav > ul > li.active > a > .nav-deco,
.nav > ul > li.hover > a > .nav-deco {
	color: #3b8c8c;
}

.nav-deco {
	display: inline-block;
	width: 20px;
	height: 8px;
	background-color: #999A9B;
	vertical-align: middle;
	margin-right: 20px;
}

.content {
	padding: 55px;
}

.header {
	padding: 65px 15px;
}

.title {
	font-size: 2rem;
	color: #626364;
}

.page-title {
	font-size: 1.5rem;
	margin-bottom: 40px;
	color: #656667;
}

.page-container {
	max-width: 600px;
	width: 100%;
}

.content-container {
	border-radius: 20px;
	background-color: #1e1e1e;
}

.section {
	margin-bottom: 155px;
	position: relative;
}

.img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
footer {
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	color: #9A9B9C;
}

@media (max-width: 945px) {
	.nav {
		position: static;
	}

	.page-container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 575px) {
	.gallery-item {
		max-width: 100%;
		height: auto;
	}
}
@media (max-width: 480px) {
footer {
	display: block;
}

footer span {
	display: block;
	padding: 15px;
}
}